@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

:root {
    --primary: #c0392b;
    --secondary: blue;
    --dark: #000;
    --light: #fff;
    --default-margin: 2rem 15%
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Teko', sans-serif;
}


/*********** UTILITIES ****************/

/* COLOURING */
.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-light {
    background-color: var(--light);
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-dark {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

/* ALIGNMENT */
.mg-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.container {
    margin: var(--default-margin);
    padding: 1rem;
}

/**************  ELEMENTS *******************/

/************** SPECIFIC CSS ****************/

/* title */
.title {
    padding: 1rem;
    font-size: 5rem;
}


/* searchbar */

.searchBar .searchBar-input {
    font-size: 3rem;
    border: none;
    padding-left: 1rem;
    border-radius: 15px;
    vertical-align: middle;
    outline: none;
}

.searchBar .searchBar-btn {
    font-size: 3rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 0 15px 15px 0;
    vertical-align: middle;
    position: relative;
}

.searchBar .searchBar-btn:hover {
    cursor: pointer;
}

.searchBar .searchBar-btn .fa-search {
    /* position center icon */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBar .searchBar-border {
    height: fit-content;
    width: fit-content;
    border: 3px solid black;
    border-radius: 15px;
    margin: auto;
}