@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

:root {
    --primary: #c0392b;
    --secondary: blue;
    --dark: #000;
    --light: #fff;
    --default-margin: 2rem 15%
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Teko', sans-serif;
}


/*********** UTILITIES ****************/

/* COLOURING */
.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-light {
    background-color: var(--light);
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-dark {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

/* ALIGNMENT */
.mg-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.container {
    margin: var(--default-margin);
    padding: 1rem;
}

.cardContainer {
    margin: var(--default-margin);
    padding: 1rem;
    display: flex;
    /* align-items:  */
    justify-content: space-between;
}

/**************  ELEMENTS *******************/
header {
    padding: 1rem;
}

/************** SPECIFIC CSS ****************/

/* title / header */
.title-box {
    width: fit-content;
    display: flex;
    margin: auto;
}

.title {
    /* padding: 1rem; */
    font-size: 5rem;
    padding: 0 1rem;
}

header img {
    height: 4rem;
    width: 4rem;
    margin: auto 0;
}



/* searchbar */

.searchBar {
    margin-top: 2rem;
}

.searchBar .searchBar-input {
    font-size: 3rem;
    border: none;
    padding-left: 1rem;
    border-radius: 15px;
    vertical-align: middle;
    outline: none;
}

.searchBar .searchBar-btn {
    font-size: 3rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 0 15px 15px 0;
    vertical-align: middle;
    position: relative;
}

.searchBar .searchBar-btn:hover {
    cursor: pointer;
}

.searchBar .searchBar-btn .fa-search {
    /* position center icon */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBar .searchBar-border {
    height: fit-content;
    width: fit-content;
    border: 3px solid black;
    border-radius: 15px;
    margin: auto;
}

/* Pokemon Cards*/

.pokemon-card {
    max-width: 25%;
    height: 35rem;
    background-color: #2ecc71;
    padding: 2rem;
    border-radius: 15px;
}

.pokemon-card .pokemon-container {
    margin: 1rem;
    position: relative;
}

.pokemon-card .pokemon-container .card-top-info {
    /* position: relative; */
    height: 4rem;
}

.pokemon-card .pokemon-container .card-top-info .pokemon-index {
    font-size: 2.5rem;
    position: absolute;
}

.pokemon-card .pokemon-container .card-top-info .pokemon-name {
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

.pokemon-card .pokemon-container .image-container {
    width: 80%;
    padding: 3rem;
    margin: auto;
    background-color: white;
    border-radius: 50%;
}

.pokemon-card .pokemon-container .image-container .pokemon-image {
    width: 100%;
    height: 100%;
}

.pokemon-card .pokemon-container .card-bottom-info .pokemon-type {
    display: block;
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    /* FIX THIS */
    justify-content: space-evenly;
    align-content: space-between;

}



/* Capsule */
.capsule {
    background-color: #27ae60;
    border: 2px solid white;
    max-width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    margin: 0 1rem;
    /* transform: translate(0, 50%); */
}

.capsule .capsule-text {
    font-size: 1.5rem;
}